#our-services {
  padding-bottom: 147px;
}

.services__intro {
  padding: 29px 0;
  margin-bottom: 48px;
}

.services__title {
  color: #211f54;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.98px;
  letter-spacing: 0%;
}
